@media (max-width: 450px) {
    .postsblock-outerbox{
        width: 90vw;
        padding: 2%;
    }
   .username-span{
    font-size: 12pt;
   }
   .date-span{
    font-size: 9pt;
   }
   .emotion-span{
    font-size: 8pt;
    
    margin-bottom: 1vw;
    max-width: 25vw;
   }
   .post-message{
    font-size: 8pt;
    
   }
  }
@media (min-width: 1000px) and (max-width: 1600px) {
    .postsblock-outerbox{
        width: 70vw;
        padding: 1%;
        min-height: 10vh;
    }
   .username-span{
    font-size: 20pt;
   }
   .date-span{
    font-size: 14pt;
   }
   .emotion-span{
    font-size: 12pt;
    min-width: 5vw;
    max-width: 10vw;
    min-height: 5vh;
    margin-left: 3.65vw;
    margin-bottom: 1vh;
   }
   .post-message{
    font-size: 14pt;
   }
  }
@media (min-width: 1600px) {
    .postsblock-outerbox{
        width: 70vw;
        padding: 1%;
        min-height: 10vh;
    }
   .username-span{
    font-size: 20pt;
   }
   .date-span{
    font-size: 14pt;
   }
   .emotion-span{
    font-size: 14pt;
    min-width: 5vw;
    max-width: 10vw;
    min-height: 5vh;
    margin-left: 3.65vw;
    margin-bottom: 1vh;
   }
   .post-message{
    font-size: 14pt;
   }
  }
  
.postsblock-outerbox{
    background-color: #555555;
    border-radius: 20px; 
    
    min-width: 50vw;
    
    align-self: center;
    margin-top: 2.5svh;
    
  }
.username-and-date-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vh;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(219, 219, 219);
    border-bottom: 2px solid white;
    
    
}

.username-span{
    font-weight: 600;
    width: 37.5%;
    display: flex;
    align-self:flex-end;
}
.date-span{
    font-weight: 700;
    align-self:flex-end;
    
    flex-grow: 1;
    display: flex;
    justify-content: right;
}
.emotion-span{
    font-weight: 600;
    
    border-radius: 1rem;
    
    border: 1px solid black;
    display: flex;
    align-items: center;
    align-self:flex-end;
    justify-content: center;
    
    
    flex-grow: 1;
    padding: 0 0.3%;
}
.post-message{
    overflow: hidden;
    color:rgb(228, 228, 228);
    text-align: left;
}
.emo-negative{
    background: #e80000;
}
.emo-neutral{
    background: grey;
}
.emo-positive{
    background: rgb(0, 181, 0);
}